*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style: none !important;
}
body{
    position: relative !important;
}
nav{
    box-shadow: 3px 3px 9px 3px rgba(0,0,0,0.17);
-webkit-box-shadow: 3px 3px 9px 3px rgba(0,0,0,0.17);
-moz-box-shadow: 3px 3px 9px 3px rgba(0,0,0,0.17);
}
:root{
    --nav-heading: 'Tilt Neon', cursive;
    --nav-li: 'Roboto Slab', serif;
    --introduction-heading: 'Playfair Display', serif;
    --book-paragraph: 'Tiro Devanagari Hindi', serif;
    --food-menu: 'Noto Sans JP', sans-serif;
    --gallery-paragraph: 'Noto Sans JP', sans-serif;

}

  
.Booking-paragraph{
    font-family: var(--book-paragraph);
}
  
.nav-heading{
    font-family: var(--nav-heading);
}
nav ul li{
    margin: 0px 15px !important;
    font-family: var(--nav-li);
    font-size: 17px;
}
.introduction-heading{
    font-family: var(--introduction-heading);
}
.learn-container{
    transition: all 0.3s ;
}
.learn-container:hover{
    background-color: purple;
    color: white !important;
    transform: translateY(-5px);
   
}
.img{
    background: url(../Image/ingredients.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
/* .boxed h4{
    
} */
.reservation{
    background: url(../Image/reservation.png) ;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.box-flex h4{
font-family: var(--food-menu);
}
.gallery-paragraph{
    font-family: var(--gallery-paragraph);
}
.gallery-btn:hover{
    background-color: purple;
    color: white !important;
}
.Testimonials-bg{
    background: url(../Image/Testimonials.jpg);
    background-position: center;
    background-size: cover;
}
.blog-heading:hover{
    color: purple !important;
}